# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv

# Django secret key
.env
*.env

# Database files
*.sqlite3
*.db

# Django migrations
**/migrations/__pycache__/
**/migrations/*.pyc

# Logs and debug files
*.log
logs/
debug.log

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*.swo

